<div class="container" fxLayout="row" fxLayoutAlign="space-around start">

    <div class="marcas-autos-card">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Marcas de Autos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               <app-marca-auto></app-marca-auto>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="marcas-repuestos-card">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Marcas de Repuestos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-marca-repuesto></app-marca-repuesto>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="servicios-tipos-card">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Tipos de Servicios</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-servicio-tipo></app-servicio-tipo>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="personal-puesto-card">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Puestos de personal</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-personal-puesto></app-personal-puesto>
            </mat-card-content>
        </mat-card>
    </div>
</div>