<div>
    <p>Ingrese el password de autorización</p>
    <mat-form-field appearance="outline">
        <input matInput type="password" [(ngModel)]="passwordEncuadre">
    </mat-form-field>

    <button mat-flat-button color="primary" type="button" (click)="cuadrarInventariosRepuestos()" style="margin-right: 5px;">Cuadrar Inventario</button>
    <button mat-raised-button color="warn" (click)="cerrar()" type="button">Cancelar</button>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>