.container {
    margin: 20px;
    border-style: ridge;
    border-width: 1px;
    background-color: white;
}

.finanzas-creditos-pagos-container {
    margin: 20px;
}

.finanzas-creditos-pagos-card-container {
    width: 100%;
}

.caja-chica-container {
    margin: 20px;
}

.caja-chica-card-container {
    width: 100%;
}

.cuentas-bancarias-container {
    margin: 20px;
}

.cuentas-bancarias-card-container {
    width: 100%;
}

.cheques-boletas-card-container {
    width: 100%;
}

.cheques-boletas-container {
    margin: 20px;
}

.facturas-card-container {
    width: 100%;
}

.facturas-container {
    margin: 20px;
}