<div>
    <div style="text-align: center;">
        <p><b>NOTA DE CRÉDITO</b></p>
    </div>
    <p style="margin: 0px;"><b>Fecha de aplicación: </b>{{notaCredito.fechaAplicacion}}</p>
    <p style="margin: 0px;"><b>Fecha de ingreso: </b>{{notaCredito.fechaIngreso}}</p>
    <p style="margin: 0px;"><b>Código: </b>{{notaCredito.codigo}}</p>
    <p style="margin: 0px;"><b>Monto: </b>{{notaCredito.monto.toFixed(2)}}</p>
    <p style="margin: 0px;"><b>Descripción: </b>{{notaCredito.descripcion}}</p>
</div>