<mat-card dynamicHeight>
    <mat-card-content>
        <form [formGroup]="formBusqueda" #frmBusqueda="ngForm" (ngSubmit)="buscar()">
            <mat-form-field class="mat-form-field-noServicio" appearance="outline">
                <mat-label>Correlativo</mat-label>
                <input matInput required formControlName="noServicio" type="number" min="0">
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit" [disabled]="evaluarBotonBuscar()">Buscar</button>
        </form>
        <mat-divider></mat-divider><br>
        <div id="div-servicio" class="servicio-container">
            <p class="sucursal-label">{{ servicio.sucursal.nombre }}</p>
            <div style="display: flex;">
                <div style="margin-right: 650px;">
                    <p class="placaNumero-label">{{servicio.placa.numero}}</p>
                    <p class="segmentoNombre-label">{{servicio.segmento.nombre}}</p>
                    <p class="servicioTipo-label">{{servicio.servicioTipo.nombre}}</p>
                    <p class="fecha-label"><b>Fecha de ingreso: </b>{{servicio.fechaHora}}</p>
                    <p class="proximoServicio-label"><b>Próximo servicio: </b>{{servicio.kilometrajeProximoServicio}} Km</p>
                    <div style="display: flex;">
                        <mat-icon [ngClass]="{
                            'hidden-icon' : !servicio.facturado,
                            'visible-icon' : servicio.facturado
                        }" style="margin: 2px;">
                            receipt
                        </mat-icon>
                        <mat-icon [ngClass]="{
                            'hidden-icon' : !servicio.finalizado,
                            'visible-icon' : servicio.finalizado
                        }" style="margin: 2px;">
                            check_circle_outline
                        </mat-icon>
                    </div>
                </div>
                <div class="servicio-header-container">
                    <h1 class="costoTotal-label">Q. {{servicio.costoTotal.toFixed(2)}}</h1>
                    <div style="display: flex;">
                        <button mat-button color="primary" type="button" [disabled]="loaderService.isLoading.value" (click)="abrirChecklistDialogo()">
                            <mat-icon>assignment_turned_in</mat-icon>
                        </button>
                        <button mat-button color="primary" type="button" [disabled]="loaderService.isLoading.value" (click)="imprimirReporte()">
                            <mat-icon>print</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="servicio-trabajo-repuesto-container">
                <div class="trabajo-container">
                    <p class="trabajos-label"><b>TRABAJOS:</b></p>
                    <mat-grid-list cols="10" rowHeight = "30px">
                        <mat-grid-tile [colspan]="8" [rowspan]="1" class="mat-grid-tile-header"><b>Descripción del trabajo</b></mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1" class="mat-grid-tile-header"><b>Costo</b></mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="10" rowHeight = "40px" *ngFor="let st of servicio.servicioTrabajo">
                        <mat-grid-tile [colspan]="8" [rowspan]="2" class="mat-grid-tile-descripcion-trabajo">{{st.descripcionTrabajo}}</mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="2" class="mat-grid-tile-costo">Q. {{st.costo.toFixed(2)}}</mat-grid-tile>
                    </mat-grid-list>
                    ____________________________________________________________________________________
                    <mat-grid-list cols="10" rowHeight = "30px">
                        <mat-grid-tile [colspan]="8" [rowspan]="1" class="mat-grid-tile-costo"><b>Total del trabajo</b></mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1" class="mat-grid-tile-costo"><b>Q. {{totalTrabajo.toFixed(2)}}</b></mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div class="repuesto-container">
                    <p class="repuestos-label"><b>REPUESTOS:</b></p>
                    <mat-grid-list cols="12" rowHeight = "30px">
                        <mat-grid-tile [colspan]="1" [rowspan]="1" class="mat-grid-tile-header"><b>Cant</b></mat-grid-tile>
                        <mat-grid-tile [colspan]="7" [rowspan]="1" class="mat-grid-tile-header"><b>Repuesto</b></mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1" class="mat-grid-tile-header"><b>Costo</b></mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1" class="mat-grid-tile-header"><b>Subtotal</b></mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="12" rowHeight = "40px" *ngFor="let sr of servicio.servicioRepuesto; let i=index">
                        <mat-grid-tile [colspan]="1" [rowspan]="1" class="mat-grid-tile-content">{{sr.cantidad}}</mat-grid-tile>
                        <mat-grid-tile [colspan]="7" [rowspan]="1" class="mat-grid-tile-descripcion">{{sr.repuesto.descripcion}}</mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1" class="mat-grid-tile-costo">Q. {{sr.costoUnitario.toFixed(2)}}</mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1" class="mat-grid-tile-costo">Q. {{sr.costoTotal.toFixed(2)}}</mat-grid-tile>
                    </mat-grid-list>
                    ____________________________________________________________________________________________
                    <mat-grid-list cols="12" rowHeight = "30px">
                        <mat-grid-tile [colspan]="10" [rowspan]="1" class="mat-grid-tile-costo"><b>Total del repuesto</b></mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1" class="mat-grid-tile-costo"><b>Q. {{totalRepuesto.toFixed(2)}}</b></mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
            <div class="caja-chica-container">
                <p class="cajaChica-label"><b>REPUESTOS MENORES:</b></p>
                <mat-grid-list cols="11" rowHeight = "30px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1" class="mat-grid-tile-header"><b>Cantidad</b></mat-grid-tile>
                    <mat-grid-tile [colspan]="5" [rowspan]="1" class="mat-grid-tile-header"><b>Descripción</b></mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1" class="mat-grid-tile-header"><b>Compra</b></mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1" class="mat-grid-tile-header"><b>Venta</b></mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1" class="mat-grid-tile-content"></mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="11" rowHeight = "40px" *ngFor="let fcmd of facturaCompraMenorDetalle; let i=index">
                    <mat-grid-tile [colspan]="1" [rowspan]="1" class="mat-grid-tile-content">{{fcmd.cantidad}}</mat-grid-tile>
                    <mat-grid-tile [colspan]="5" [rowspan]="1" class="mat-grid-tile-descripcion">{{fcmd.descripcion}}</mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1" class="mat-grid-tile-costo">Q. {{fcmd.costoCompra.toFixed(2)}}</mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1" class="mat-grid-tile-costo">Q. {{fcmd.costoVenta.toFixed(2)}}</mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1" class="mat-grid-tile-content">
                        <button mat-button color="primary" (click)="abrirFacturaCompraMenorDetalleDialogoEditar(fcmd)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
                ________________________________________________________________________________________________________________________________
                <mat-grid-list cols="11" rowHeight = "30px">
                    <mat-grid-tile [colspan]="8" [rowspan]="1" class="mat-grid-tile-costo"><b>Total de facturas de compra</b></mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1" class="mat-grid-tile-costo"><b>Q. {{totalRepuestoMenor.toFixed(2)}}</b></mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-scale-party" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>